<launch>

  <arg name="data_directory" default="$(find bwi_coffee)/config/realatrium" />
  <arg name="map_file" default="$(find bwi_coffee)/maps/atrium.yaml" />

  <!-- launch real world robot with map file and navigation -->
  <include file="$(find segbot_navigation)/launch/navigation.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- launch logical navigator -->
  <node name="segbot_logical_navigator" pkg="segbot_logical_translator"
        type="segbot_logical_navigator">
    <param name="map_file" value="$(arg map_file)" />
    <param name="data_directory" value="$(arg data_directory)" />
  </node>

  <!-- launch the gui -->
  <node name="segbot_gui" pkg="segbot_gui" type="question_dialog_plugin" />

  <!-- launch the sound play node -->
  <node name="soundplay" pkg="sound_play" type="soundplay_node.py" />

</launch>
