<launch>

  <arg name="initial_file" default="$(find bwi_coffee)/domain/initial.asp" />

  <arg name="domain_costs_file" default="$(find bwi_coffee)/domain/costs.asp" />
  <arg name="domain_semantics_file" default="$(find bwi_coffee)/domain/coffee.asp" />

  <arg name="query_file" default="$(find bwi_coffee)/domain/query.asp" />
  <arg name="costs_file" default="$(find bwi_coffee)/domain/distances.lua" />
  <arg name="rigid_knowledge_file" default="$(find bwi_coffee)/domain/facts.asp" />

  <arg name="planning_times_file" default="/tmp/planning_times.txt" />

  <arg name="clingo_timeout" default="60" />
  <arg name="clingo_steps" default="35" />

  <arg name="dry_run" default="false" />
  <arg name="auto_open_door" default="true" />
  <arg name="use_cost_optimization" default="false" />
  <arg name="enable_learning" default="false" />

  <arg name="enable_artificial_delays" default="false" />
  <arg name="artificial_delay_file" 
    default="$(find bwi_planning)/config/kitchen_delay.yaml" />

  <arg name="use_speech" default="false" />

  <node name="planner_coffee" type="planner_coffee" pkg="bwi_coffee"
    output="screen" required="true">

    <param if="$(arg dry_run)" name="initial_file" value="$(arg initial_file)" />

    <param if="$(arg use_cost_optimization)" 
      name="costs_file" value="$(arg costs_file)" />
    <param if="$(arg use_cost_optimization)" 
      name="domain_costs_file" value="$(arg domain_costs_file)" />

    <param name="query_file" value="$(arg query_file)" />
    <param name="domain_semantics_file" value="$(arg domain_semantics_file)" />
    <param name="rigid_knowledge_file" value="$(arg rigid_knowledge_file)" />

    <param name="clingo_timeout" value="$(arg clingo_timeout)" />
    <param name="clingo_steps" value="$(arg clingo_steps)" />

    <param name="dry_run" value="$(arg dry_run)" />
    <param name="auto_open_door" value="$(arg auto_open_door)" />

    <param name="enable_learning" value="$(arg enable_learning)" />
    <param if="$(arg enable_learning)" name="planning_times_file"
      value="$(arg planning_times_file)" />
    
    <param if="$(arg enable_artificial_delays)" name="artificial_delay_file"
      value="$(arg artificial_delay_file)" />

    <param name="use_speech" value="$(arg use_speech)" />
    
  </node>

</launch>
