<launch>

    <arg name="path_static" default="gdc_atrium/static_map_small.txt" />
    <arg name="path_dynamic" default="gdc_atrium/dynamic_map_small.txt" />
    <arg name="path_sunny" default="gdc_atrium/sunny_map_small.txt" />

    <node name="bwi_nav_reasoning" pkg="bwi_nav_reasoning" type="bwi_nav_reasoning_test" output="screen">
        <param name="path_static" value="$(arg path_static)" />
        <param name="path_dynamic" value="$(arg path_dynamic)" />
        <param name="path_sunny" value="$(arg path_sunny)" />
    </node>

</launch>
