<launch>
    <rosparam command="load" file="$(find twitcher_launch)/config/config.yaml" />
    <rosparam command="load" file="$(find twitcher_launch)/config/rooms.yaml" />
    <rosparam>
        /twitter/useapi: false
    </rosparam>
    <node pkg="twitcher_manager" name="manager" type="twitcher_manager_node" />
    <node pkg="twitcher_interpreter" name="interpreter" type="twitcher_interpreter_node" />
    <node pkg="twitcher_actions" name="actions" type="twitcher_actions_node" />
    <node pkg="sound_play" name="twitter_soundplay" type="soundplay_node.py" />
</launch>
