<launch>

  <arg name="dir_path" default="$(find bwi_kr)/config/simulation" />
  <arg name="map_file" default="$(find utexas_gdc)/maps/3ne.yaml" />
  <arg name="location_file" default="$(arg dir_path)/locations.yaml" />
  <arg name="door_file" default="$(arg dir_path)/doors.yaml" />

  <!-- launch gazebo simulation environment and map server -->
  <include file="$(find utexas_gdc)/launch/3ne.launch" />
  <include file="$(find utexas_gdc)/launch/3ne_map.launch" />

  <!-- launch the base robot + autonomous navigation -->
  <include file="$(find segbot_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="launch_localization" value="true" />
    <arg name="use_fake_localization" value="true" />
    <arg name="launch_move_base" value="true" />
    <arg name="use_full_gazebo_model" value="false" />
    <arg name="x" value="22" />
    <arg name="y" value="11.5" />
  </include>
  
  <!-- launch logical navigator -->
  <node name="segbot_logical_navigator" pkg="segbot_logical_translator"
        type="segbot_logical_navigator">
    <param name="map_file" value="$(arg map_file)" />
    <param name="door_file" value="$(arg door_file)" />
    <param name="location_file" value="$(arg location_file)" />
  </node>

  <!-- launch the simulation door handler -->
  <include file="$(find segbot_simulation_apps)/launch/door_handler.launch">
    <arg name="door_file" value="$(arg door_file)" />
  </include>

  <!-- launch rviz for navigation visualization -->
  <include file="$(find segbot_navigation)/launch/rviz.launch" />

  <!-- launch the gui -->
  <node name="segbot_gui" pkg="segbot_gui" type="question_dialog_plugin" />

  <!-- launch the sound play node -->
  <node name="soundplay" pkg="sound_play" type="soundplay_node.py" />

  <!-- launch the bwi_kr_execution_simulator -->
  <include file="$(find bwi_kr_execution)/launch/bwi_kr_execution_simulation.launch"> </include>

</launch>
